server:
  port: 8030
spring:
  application:
    name: frame-microservice-order
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      discovery:
        username: nacos
        password: nacos
        namespace: public